* {
  box-sizing: border-box;
}

:root {
  --primary-color-black-green: #143c3c;
  --primary-color-black: #152427;
  --text-color-black-gray: #575d5e;
  --text-color-white: #fff;
  --scondery-color-light-green: #e2eddf;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

/* Common */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
a {
  text-decoration: none;
}

.container {
  width: min(1170px, 100% - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  min-width: 173px;
  height: 57px;
  line-height: 57px;
  text-align: center;
  padding: 0 36px;
  color: var(--text-color-white, #fff);
  font-family: Public Sans;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 40px;
  border: 1.5px solid #143c3c;
  background: var(--primary-color-black-green);
}

.btn:hover {
  opacity: 0.9;
}

.section-title {
  position: relative;
  color: var(--primary-color-black);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  margin-left: 36px;
}

.section-title::before {
  position: absolute;
  content: "";
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 1px;
  background: var(--primary-color-black);
}

.section-heading {
  color: var(--primary-color-black);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23;
}

.section-heading::after {
  content: "";
  display: inline-block;
  width: 66px;
  height: 2px;
  background: currentColor;
  margin-bottom: 10px;
}

.section-desc {
  --font-size: 1.6rem;
  color: var(--text-color-light-gray, #7d8188);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
}

/* Header */

.header {
  padding: 28px 0 13px;
  background: var(--text-color-white);
  position: relative;
}

.fixed {
  position: sticky;
  top: -15px;
  z-index: 999;
}

.header::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 1140px;
  height: 1px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header__inner {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  padding: 0 19px;
}

.nav__item:last-child {
  margin-right: 69px;
}

.nav__item:hover {
  text-shadow: 0 0 3px #ccc;
}

.nav__link {
  color: var(--text-color-black-gray);
  font-family: Public Sans;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 28px;
}

.nav__link.active {
  color: var(--primary-color-black);
  font-family: Public Sans;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

/* Hero */
.hero {
  margin-top: 60px;
}

.hero__inner {
  display: flex;
  padding-bottom: 88px;
}

.hero-content {
  width: 40%;
}

.hero__heading {
  margin-top: 43px;
  max-width: 368px;
  color: var(--primary-color-black);
  font-family: Public Sans;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
}

.hero__desc {
  margin-top: 20px;
  max-width: 341px;
  color: var(--text-color-black-gray);
  font-family: Public Sans;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.hero__row {
  margin-top: 42px;
  display: flex;
  align-items: center;
  gap: 36px;
}

.hero__watch {
  display: flex;
  align-items: center;
  gap: 11px;
}

.hero__watch-icon {
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #83a17d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  transition: rotate 0.2s ease;
}

.hero__watch-icon::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid;
  border-color: transparent transparent #143c3c #143c3c;
  rotate: 45deg;
}

.hero__watch-icon:hover {
  rotate: 180deg;
}

.hero__watch-icon i {
  color: #fef6fb;
}

.hero-media {
  position: relative;
  width: 60%;
}

.hero-media::after {
  position: absolute;
  content: "";
  width: 340px;
  height: 340px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #4dbb9a;
  z-index: -1;
  filter: blur(137px);
}

.hero__images {
  display: flex;
  gap: 20px;
}

.hero__img {
  width: 202px;
  height: 466px;
  border-radius: 110px;
  object-fit: cover;
}

.hero__img:nth-of-type(2) {
  margin-top: 77px;
}

.hero__decor-icon {
  position: absolute;
}

.hero__decor-icon:first-of-type {
  top: -32px;
  left: -207px;
}

.hero__decor-icon:last-of-type {
  bottom: -68px;
  right: 66px;
  rotate: 180deg;
}

/* Brand */
.brand {
  margin-top: 42px;
}

.brand__inner {
  padding: 78px 121px;
  border-radius: 100.5px;
  background: var(--scondery-color-light-green);
}

.brand__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand__item {
  display: flex;
  align-items: center;
}

.brand__item:first-of-type .brand__item-name {
  color: var(--primary-color-black-green);
  font-size: 3.1rem;
  font-weight: 500;
}

.brand__item:nth-of-type(2) .brand__item-name {
  color: var(--primary-color-black-green);
  font-size: 3.2rem;
  font-weight: 600;
}

.brand__item:nth-of-type(3) .brand__item-name {
  color: #163c35;
  font-size: 2.6rem;
  font-weight: 400;
}

.brand__item:nth-of-type(4) .brand__item-name {
  color: var(--primary-color-black-green);
  font-family: Sonsie One;
  font-size: 2.3rem;
  font-weight: 400;
}

.brand__item:last-of-type .brand__item-name {
  color: var(--primary-color-black-green);
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 1.995px;
}

/* Service */
.service {
  margin-top: 106px;
}

.service__row {
  display: flex;
  align-items: center;
}

.service__heading {
  margin-top: 12px;
  width: 520px;
  height: 104px;
}

.service__arrow {
  margin-left: 422px;
  display: flex;
  gap: 17px;
}

.service__arrow-icon {
  display: inline-block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #e2eddf;
  color: #152427;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.service__arrow-icon:hover {
  background: #143c3c;
  color: #fff;
}

.service__list {
  margin-top: 76px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
}

.service-item {
  background: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: box-shadow 0.2s, transform 0.2s, scale 0.2s;
}

.service-item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.service-item:hover .service-item__img {
  scale: 1.1;
}

.service-item__images {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 318px;

  overflow: hidden;
}
.service-item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  transition: scale 0.2s;
}

.service-item__info {
  padding: 24px 10px 24px;
}

.service-item__heading {
  color: var(--primary-color-black);
  font-size: 2.2rem;
  font-weight: 600;
}

.service-item__desc {
  margin-top: 18px;
  color: var(--text-color-light-gray, #7d8188);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7;
}

/* About */

.about {
  margin-top: 149px;
}

.about__inner {
  display: flex;
  gap: 64px;
}

.about__media {
  position: relative;
  width: 50%;
}

.about__img {
  width: 284px;
  height: 480px;
  border-radius: 210px;
  box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
  object-fit: cover;
}

.about__decor-icon {
  position: absolute;
  top: -25px;
  left: 35px;
}

.about__img:first-of-type {
  margin-top: 90px;
}

.about__img:last-of-type {
  margin-top: 13px;
}

.about__images {
  display: flex;
  gap: 20px;
}

.about-media-block {
  position: absolute;
  right: -9px;
  bottom: 8px;
  max-width: 143px;
  padding: 19px 23px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-media-block__title {
  color: var(--primary-color-black, #152427);
  font-family: Public Sans;
  font-size: 1.4rem;
  font-weight: 600;
}

.about-media-block__total {
  margin-top: 6px;
  color: var(--text-color-black-gray, #575d5e);
  font-family: Public Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

.about-media-block__percent {
  margin-top: 10px;
  color: var(--primary-color-black, #152427);
  font-family: Public Sans;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4; /* 140% */
}

.about-media-block__progress-bar {
  position: relative;
  margin-top: 3px;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background: #eaeaea;
}

.about-media-block__progress-bar::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 2px;
  border-radius: 10px;
  background: #83a17d;
  top: 0;
  left: 0;
}

.about-media-block__status {
  margin-top: 3px;
  color: var(--primary-color-black, #152427);
  font-family: Public Sans;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  display: flex;
  justify-content: end;
}

.about-media-block__circle {
  margin-top: 3px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-media-block__circle::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #143c3c;
}

.about-team {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-team__name {
  color: var(--primary-color-black, #152427);
  font-family: Public Sans;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4; /* 140% */
}

.about-team__avatar-list {
  display: flex;
  align-items: center;
}

.about-team__avatar-item {
  margin-left: -4px;
}

.about-team__avatar {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 1px solid #fff;
  object-fit: cover;
}

.about__info {
  width: 50%;
}

.about__info--heading {
  margin-top: 20px;
  width: 483px;
  color: var(--primary-color-black, #152427);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23;
}

.about__info--desc {
  margin-top: 11px;
  width: 478px;
}

.about__row {
  margin-top: 36px;
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
}

.about__row::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #83a17d;
  top: 69px;
}

.about__percent {
  color: var(--primary-color-black, #152427);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23;
}

.about__row-desc {
  width: 364px;
  --font-size: 1.4rem;
}

/* Process */
.process {
  margin-top: 115px;
}

.process__inner {
  padding-top: 36px;
}

.process__heading {
  width: 477px;
}

.process__list {
  margin-top: 81px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.process-item {
  position: relative;
  width: 100%;
  padding: 57px 41px;
  border-bottom: 1px solid #83a17d;
  display: flex;
  align-items: center;
}

.process-item:hover {
  border: none;
  border-radius: 33px;
  background: var(--scondery-color-light-green, #e2eddf);
}

.process-item:hover .process-item__name::after {
  content: "Learn More";
  margin-top: 22px;
  display: block;
  color: var(--text-color-black-gray, #575d5e);
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: underline;
}

.process-item__img {
  position: absolute;
  width: 450px;
  height: 444px;
  object-fit: cover;
  bottom: 0;
  right: 92px;
}

.process-item__number {
  color: var(--primary-color-black-green, #143c3c);

  /* Heading/H1 72px bold */
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 0.72; /* 72.222% */
}

.process-item__name {
  margin-left: 64px;
  color: var(--primary-color-black, #152427);
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}

.process-item__desc {
  margin-left: auto;
  width: 572px;
  height: 84px;
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 3);
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--text-color-light-gray, #7d8188);

  font-family: Public Sans;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
}

/* Project */
.project {
  margin-top: 148px;
  background: var(--primary-color-black-green, #143c3c);
}

.project__inner {
  padding: 116px 0 63px;
}

.project__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project__heading {
  width: 457px;
  color: #e7f9f9;
}

.project__info-desc {
  width: 590px;
  min-height: 59px;
  color: var(--scondery-color-gray, #6a8383);

  font-family: Public Sans;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
}

.project__info-row {
  margin-top: 13px;
  display: flex;
  align-items: center;
  gap: 26px;
  color: #fff;
}

.project__info-right {
  color: #80a07b;
}

.project__media {
  margin-top: 65px;
}

.project-block {
  position: relative;
}

.project__video {
  border-radius: 22px;
}

.project__play-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 118px;
  height: 118px;
  background: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  transition: background 0.2s;
}

.project__play-video:hover {
  background: #80a07b;
}

.project__decor {
  position: absolute;
}

.project__decor:first-of-type {
  right: -46px;
  top: -170px;
}

.project__decor:last-of-type {
  right: -40px;
  top: -73px;
}

/* Feature */
.feature {
  margin-top: 140px;
}

.feature__heading {
  width: 520px;
  color: var(--primary-color-black, #152427);
  text-align: center;
  margin: 0 auto;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23;
}

.feature__desc {
  margin: 20px auto 0;
  width: 547px;
  color: var(--text-color-light-gray, #7d8188);
  text-align: center;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62;
}

.feature__list {
  margin-top: 103px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 45px;
}

.feature-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 43px;
  width: 350px;
  height: 362px;
  border-radius: 160px;
  background: #fff;
  border: 1px solid #ccc;
  transition: box-shadow 0.25s linear, transform 0.25s ease-in-out;
}

.feature-item:hover {
  transform: translateY(-59px);
  box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.feature-item__heading {
  margin-top: 26px;
  color: #152427;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}

.feature-item__desc {
  margin-top: 9px;
  width: 286px;
  height: 118px;
  text-align: center;
  color: var(--text-color-light-gray, #7d8188);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}

/* Blog */
.blog {
  margin-top: 212px;
}

.blog__inner-row {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.blog__heading {
  width: 560px;
  flex-shrink: 0;
}

.blog__desc {
  width: 409px;
  color: var(--text-color-light-gray, #7d8188);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
}

.blog__list {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.blog-item {
  transition: box-shadow 0.2s;
  border-radius: 40px 40px 20px 20px;
}

.blog-item:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.blog__images {
  border-radius: 40px 40px 0px 0px;
  height: 317px;
  overflow: hidden;
}

.blog__img {
  max-width: 100%;
  height: 100%;
  border-radius: 40px 40px 0px 0px;
  object-fit: cover;
  transition: scale 0.3s;
}

.blog-item:hover .blog__img {
  scale: 1.1;
}

.blog__info {
  padding: 26px 0 12px;
  transition: padding 0.3s;
}

.blog-item:hover .blog__info {
  padding: 26px 30px 12px;
}

.blog__info-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107px;
  height: 26px;
  border-radius: 20px;
  background: var(--scondery-color-light-green, #e2eddf);
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  transition: background 0.2s;
}

.blog-item:hover .blog__info-btn {
  color: #fff;
  background: var(--primary-color-black-green, #143c3c);
}

.blog__info-title {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 13px;
  width: 346px;
  color: var(--primary-color-black-green, #143c3c);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6;
  transition: width 0.2s;
}

.blog-item:hover .blog__info-title {
  width: 281px;
}

.blog__info-date {
  margin: 38px 21px 0 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 16px;
  color: var(--text-color-black-gray, #575d5e);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}

.blog__info-date::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #c4c4c4;
}

/* Footer */
.footer {
  margin-top: 102px;
  background: var(--primary-color-black-green, #143c3c);
}

.footer__inner {
  padding: 72px 0 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__info,
.footer__list {
  width: 50%;
}

.footer__info-heading {
  color: var(--text-color-white, #fff);
  font-size: 3.2rem;
  font-weight: 500;
}

.form {
  width: 354px;
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.form-input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #6a8383;
  padding: 28px 0;
  color: #6a8383;
  font-size: 2.2rem;
}

.form-input,
.form-input:focus,
.form-input:placeholder-shown {
  background: transparent;
}

.form-input::placeholder {
  color: var(--scondery-color-gray, #6a8383);
  font-size: 2.2rem;
  font-weight: 600;
}

.social__list {
  margin-top: 47px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.social__item {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s, border 0.2s;
}

.social__item:hover {
  background: rgba(167, 83, 37, 1);
  border: none;
}

.footer__list {
  padding-top: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-item-heading {
  color: var(--text-color-white, #fff);
  font-family: Public Sans;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.footer-item__list {
  margin-top: 14px;
}

.footer-item__link {
  color: var(--scondery-color-gray, #6a8383);
  font-family: Public Sans;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2;
}

.footer__line {
  margin-top: 45px;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #143c3c 2.28%,
    #295a5a 55.65%,
    rgba(38, 82, 82, 0) 102.06%
  );
}

.footer__copyright {
  padding: 20px 0;
  color: var(--scondery-color-gray, #6a8383);
  font-family: Public Sans;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}
